footer {
    padding: 20px 0;
    background-color: #c6bfab!important;
    color: #282A2D;
  }
  
.footer-custom h5,
.footer-custom p,
.footer-custom a,
.footer-custom i {
  color: #282A2D !important; 
  text-decoration: none; 
}

.footer-custom a:hover,
.footer-custom i:hover {
  color: #505050 !important; 
}

  footer h5 {
    margin-bottom: 15px;
  }
  
  footer ul {
    padding: 0;
    list-style: none;
  }
  
  footer a {
    color: #adb5bd; 
  }
  
  footer a:hover {
    color: #ffffff; 
  }
  
  footer .bi {
    font-size: 1.5rem; 
  }