.hero-section {
    background-image: url('/assets/images/GRANJERA.png');
    background-size: cover;
    background-position: center;
    height: 60vh; 
    color: #fff; 
    padding-top: 20vh; 
  }
  
  .hero-section .texto-hero{
    margin-left: 0px !important;
    text-align: left;
  }

  
  .hero-section h1 {
    font-weight: bold;
    color: #282A2D;
  }
  
  .hero-section p {
    font-size: 1.55rem;
    font-weight: bold;
    color: #fff;
  }
  
  
  .hero-section .btn-primary {
    background-color: #282A2D;
    border-color: #282A2D;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .hero-section .btn-primary:hover {
    background-color: #505050; 
    border-color: #505050;
  }

.main-content{
  padding: 25px !important;
}

.product-link {
  text-decoration: none; 
  color: inherit; /* Mantiene el color del texto por defecto o puedes establecer un color personalizado */
  transition: color 0.3s ease;
}


.product-link:hover {
  color: #282A2D; 
  transform: scale(1.05);
}

.product-card {
  transition: transform 0.3s ease; /* Transición suave para la animación */
}

.product-image{
  border-radius: 5%;
  margin-bottom: 25px;

}

.product-image:hover {
  transform: scale(1.05); /* Zoom en la tarjeta cuando se hace hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al hacer hover */
}