.navbar-fixed-top {
  margin-top: 10px !important;
}

.nav-item-hover {
    position: relative !important;
    display: inline-block !important;
    cursor: pointer !important;
  }
  
  .nav-text {
    display: inline-block !important;
  }
  
  .custom-button {
    display: none !important;
    padding: 5px 10px;
    border: none;
    background-color: #282A2D;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
  }
  

  .nav-item-hover:hover .nav-text {
    display: none !important;
  }
  
  .nav-item-hover:hover .custom-button {
    display: inline-block !important;
  }
  

  .login-button {
    padding: 5px 10px;
    border: none;
    background-color: #282A2D;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
    display: inline-block;
  }
  
  
  .custom-button:hover,
  .login-button:hover {
    background-color: #282A2D!important;
  }

  .cerrar-button {
    padding: 5px 10px;
    border: none;
    background-color: #c40e0e!important;   
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
    display: inline-block;
  }

  .cerrar-button:hover {
    background-color: #c40e0e!important;
  }

  .rol-button {
    padding: 5px 10px;
    border: none;
    background-color: #c6bfab!important;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 5px;
    display: inline-block;
  }